<div class="bar bar-header bar-dark">
    <h1 class="title" style="color:#FF0066;font-weight: bold;" >COLORMIC</h1>
</div>
<ion-content class='has-header' padding="true" style="background-color:rgba(178,129,157,0.85)!important;">

    <canvas id="test" ></canvas>
    <button class="button button-clear button-light" ng-click="filter()">filterOne</button>
    <button class="button button-clear button-light" ng-click="filterTest()">filterTest</button>
    <img src="img/test.jpg"  id="originalImage"/>
  </ion-content>